<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mi</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header>
        <h1 class ="navbar__title">
            Victor Cortés
            <span class="navbar__subtitle"> Rico Programar</span>
        </h1> <!--Header-->
    </header>

    
    <div class="navbar-container">
    </div>
    
    <script src="/js/components/navbar.js"></script>
    <h1>Estoy sobre mi</h1>
   
</body>
</html>