<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
     <link rel="stylesheet" href="/styles/navbar.css"> 
    <link rel="stylesheet" href="/styles/Components/navbar.css"> 
   
</head>
<body>

    <header>
        <h1 class ="navbar__title">
            Victor Cortés
            <span class="navbar__subtitle"> Rico Programar</span>
        </h1> <!--Header-->
    </header>

    <div class="navbar-container">
     </div>
 
    <script src="/js/components/navbar.js"></script>
     
    <h1>Estoy en Cursos</h1>

</body>
</html>