.services__cards-container{
    display: grid;
    justify-content: center;
    margin: 0 24px;
    row-gap: 24px;
}

/* Media query, cuandpo la pantalla sea mas grande de 768px */
@media (width > 769px){
    .services__cards-container{
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
    }
}

/* Media query, cuandpo la pantalla sea mas grande de 1024px */
@media (width > 1025px){
    .services__cards-container{
        grid-template-columns: repeat(3,1fr);
    }
}

/* Cards*/

.card{
  text-align: center;
  border: 1px solid var(--tertiary-950);
  padding: 0 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

}

.card:hover{
    transform: translatey(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.card__icons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.card__icon--main{
    height: 56px;
    width: 56px;
}

.card__icon--secundary{
    height: 36px;
    width: 36px;
}

/*Breakpoint

    sm 640px    Telefonos grandes
    md 768px    Tablets
    lg 1024px   Laptops
    xl 1280px   Escritorio
    2xl 1536px  Pantallas grandes
*/



